@font-face {
  font-family: "Norse";
  src:
    url("font/Norse-Bold.woff2") format("woff2"),
    url("font/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  border: 2px solid red;
}

.background-image-and-logo-section {
  width: 35vw;
  height: 100vh;
  position: relative;
}
.bg-image {
  height: 776px;
  /* object-fit: cover; */
}

.background-image-credit p {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  color: white;
  font-size: 10px;
  left: 35%;
}

.background-image-credit a {
  color: white;
}

.logo-and-heading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  top: 20%;
  background-color: rgb(0 0 0 / 0.5);
}

.logo-and-heading > img {
  width: 90px;
  height: 100px;
}

.logo-and-heading p {
  font-family: "Norse";
  font-size: 80px;
  color: white;
}

.background-image-and-logo-section > img {
  width: 100%;
  height: 100%;
}

.form-section {
  width: 65vw;
}

.text {
  height: 35vh;
  background-color: rgb(251, 251, 251);
  padding-left: 30px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.text:first-child {
  padding-top: 90px;
}

.first-name-input-field,
.last-name-input-field,
.email-input-field,
.phone-number-input-field,
.password-input-field,
.confirm-password-input-field {
  display: flex;
  flex-direction: column;
}

.first-and-last-name-form-control,
.email-and-phone-number-form-control,
.password-and-confirm-password-form-control {
  display: flex;
  gap: 110px;
}

.first-and-last-name-form-control label,
.email-and-phone-number-form-control label,
.password-and-confirm-password-form-control label {
  font-size: 12px;
  color: rgb(59, 57, 57);
  font-weight: 600;
}

.actual-form-section {
  background-color: white;
  height: 35vh;
  padding-left: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0 7px 1px black;
}

.create-account-and-login-section {
  padding-left: 30px;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.968);
}

.create-account-and-login-section button {
  background-color: #596d48;
  color: white;
  padding: 8px 35px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin-bottom: 24px;
  cursor: pointer;
}

.create-account-and-login-section a {
  color: #596d48;
  font-weight: bold;
  cursor: pointer;
}

input {
  border: 1px solid #e5e7eb;
}

input:focus {
  outline: 0;
  border: 2px solid rgb(114, 114, 230);
  box-shadow: 1px 1px 8px -4px black;
}

input[type="password"]:user-invalid {
  outline: 0;
  border: 2px solid red;
}

.password-requirement-message p {
  font-size: 11px;
}
