@font-face {
  font-family: "Norse";
  src:
    url("font/Norse-Bold.woff2") format("woff2"),
    url("font/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.background-image-and-logo-section {
  width: 30vw;
  height: 100vh;
  border: 2px solid black;
  position: relative;
}
.logo-and-heading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  top: 40%;
  background-color: red;
}

.logo-and-heading > img {
  width: 100px;
  height: 100px;
}

.logo-and-heading p {
  font-family: "Norse";
  font-size: 80px;
}

.background-image-and-logo-section > img {
  width: 100%;
  height: 100%;
}

.form-section {
  width: 70vw;
}

.text {
  height: 40vh;
  background-color: aqua;
}

.first-name-input-field,
.last-name-input-field,
.email-input-field,
.phone-number-input-field,
.password-input-field,
.confirm-password-input-field {
  display: flex;
  flex-direction: column;
}

.first-and-last-name-form-control,
.email-and-phone-number-form-control,
.password-and-confirm-password-form-control {
  display: flex;
}

.actual-form-section {
  background-color: bisque;
  height: 30vh;
}
